### Ejercicio de codificaci贸n

Este cuaderno se encuentra en:

https://github.com/gbonorino/PythonIntegral/tree/main/Biblioteca_pandas

Ejercicio 1 - Simulaci贸n de inventario.<br>
Se tienen tres diccionarios con datos de **ventas**, de **productos** y de **clientes**, que se muestran abajo.<br>

Se trata de:
- Convertir los diccionarios a DataFrame.
- Agrupar las ventas por producto con groupby.<br>
- Combinar ventas y productos en un DataFrame.<br>
- Empleando las columnas cantidad y precio calcular el monto total vendido de cada producto en cada operaci贸n de venta.

In [ ]:
mi_venta={'venta_id':[1,2,3,4,5,6,7,8,9],
         'c_id':[2,2,1,4,2,3,2,3,2],
         'p_id':[3,4,3,2,3,3,2,2,3],
         'producto':['Monitor','CPU','Monitor','RAM','Monitor','Monitor','RAM','RAM','Monitor'],
         'cantidad':[2,1,3,2,3,2,3,2,2],
         'negocio':['negocio1','negocio2','negocio1','negocio2','negocio1','negocio2','negocio1','negocio2','negocio1']}

mi_producto={'p_id':[1,2,3,4,5,6,7,8],
  'producto':['Hard Disk','RAM','Monitor','CPU','Teclado','Mouse','Motherboard','Transformador'],
  'precio':[80,90,75,55,20,10,50,20]}

mi_cliente={'c_id':[1,2,3,4,5,6,7,8],
         'Cliente':['Juan','Miguel','Alex','Juan','King','Ronn','Isabel','Tom']}

### Soluci贸n

In [1]:
# Ejercicio 1
import pandas as pd

mi_venta={'venta_id':[1,2,3,4,5,6,7,8,9],
         'c_id':[2,2,1,4,2,3,2,3,2],
         'p_id':[3,4,3,2,3,3,2,2,3],
         'producto':['Monitor','CPU','Monitor','RAM','Monitor','Monitor','RAM','RAM','Monitor'],
         'cantidad':[2,1,3,2,3,2,3,2,2],
         'negocio':['negocio1','negocio2','negocio1','negocio2','negocio1','negocio2','negocio1','negocio2','negocio1']}

mi_producto={'p_id':[1,2,3,4,5,6,7,8],
  'producto':['Hard Disk','RAM','Monitor','CPU','Teclado','Mouse','Motherboard','Transformador'],
  'precio':[80,90,75,55,20,10,50,20]}

mi_cliente={'c_id':[1,2,3,4,5,6,7,8],
         'Cliente':['Juan','Miguel','Alex','Juan','King','Ronn','Isabel','Tom']}

In [2]:
# Ejercicio 1 (cont.)
ventas = pd.DataFrame(data=mi_venta)
producto = pd.DataFrame(data=mi_producto)
cliente = pd.DataFrame(data=mi_cliente)
print(producto)

   p_id       producto  precio
0     1      Hard Disk      80
1     2            RAM      90
2     3        Monitor      75
3     4            CPU      55
4     5        Teclado      20
5     6          Mouse      10
6     7    Motherboard      50
7     8  Transformador      20

In [3]:
# Ejercicio 1 (cont.)
mi_venta = ventas.groupby(['producto'])[['cantidad']].sum()
print(mi_venta)

          cantidad
producto
CPU              1
Monitor         12
RAM              7

In [4]:
print(ventas)

   venta_id  c_id  p_id producto  cantidad   negocio
0         1     2     3  Monitor         2  negocio1
1         2     2     4      CPU         1  negocio2
2         3     1     3  Monitor         3  negocio1
3         4     4     2      RAM         2  negocio2
4         5     2     3  Monitor         3  negocio1
5         6     3     3  Monitor         2  negocio2
6         7     2     2      RAM         3  negocio1
7         8     3     2      RAM         2  negocio2
8         9     2     3  Monitor         2  negocio1

In [5]:
# Ejercicio 1 (cont.)
mi_suma=pd.merge(ventas,producto,how='left',on='p_id')
print(mi_suma)

   venta_id  c_id  p_id producto_x  cantidad   negocio producto_y  precio
0         1     2     3    Monitor         2  negocio1    Monitor      75
1         2     2     4        CPU         1  negocio2        CPU      55
2         3     1     3    Monitor         3  negocio1    Monitor      75
3         4     4     2        RAM         2  negocio2        RAM      90
4         5     2     3    Monitor         3  negocio1    Monitor      75
5         6     3     3    Monitor         2  negocio2    Monitor      75
6         7     2     2        RAM         3  negocio1        RAM      90
7         8     3     2        RAM         2  negocio2        RAM      90
8         9     2     3    Monitor         2  negocio1    Monitor      75

In [6]:
# Ejercicio 1 (cont.)
mi_suma['venta_total']=mi_suma['cantidad']*mi_suma['precio']
print(mi_suma)

   venta_id  c_id  p_id producto_x  cantidad   negocio producto_y  precio  \
0         1     2     3    Monitor         2  negocio1    Monitor      75
1         2     2     4        CPU         1  negocio2        CPU      55
2         3     1     3    Monitor         3  negocio1    Monitor      75
3         4     4     2        RAM         2  negocio2        RAM      90
4         5     2     3    Monitor         3  negocio1    Monitor      75
5         6     3     3    Monitor         2  negocio2    Monitor      75
6         7     2     2        RAM         3  negocio1        RAM      90
7         8     3     2        RAM         2  negocio2        RAM      90
8         9     2     3    Monitor         2  negocio1    Monitor      75

   venta_total
0          150
1           55
2          225
3          180
4          225
5          150
6          270
7          180
8          150