<img src="Figuras/pandasSeries.png" width=450/>

#### Crear una Series

In [ ]:
#!pip install pandas

In [ ]:
# lista
import pandas as pd

serie1 = pd.Series([1, 2, 3, 4])
print(serie1)                   # .values
type(serie1)

In [ ]:
# Asignar índices
import pandas as pd

serie1 = pd.Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])
serie1

In [ ]:
# diccionario
import pandas as pd

serie2 = pd.Series({'s':3, 'b':5, 'c':8})  
print(serie2)

In [ ]:
# Extraer un valor
print(serie2[2])
print(serie2['c'])

In [ ]:
# Extraer un índice
serie2.index[1]

In [ ]:
# Extraer una tajada
serie2[0:2]

#### Atributos de Series

In [ ]:
import pandas as pd

s = pd.Series([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])
print(s.size)

In [ ]:
import pandas as pd

serie2 = pd.Series({'tres':3, 'cinco':5, 'ocho':8})  
print(serie2.index)
print(serie2.values)

#### Métodos de Series

In [ ]:
serie2.count()

In [ ]:
serie2.sum()

In [ ]:
serie2.min()

In [ ]:
serie2.mean()

#### Operaciones

In [ ]:
# Multiplicación
import pandas as pd

serie1 = pd.Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])
serie1*5