#### Obtener información descriptiva

In [2]:
import pandas as pd

vino_df = pd.read_csv('vino_categ.csv')
print(type(vino_df))        # Verificar creacion de DataFrame
vino_df.head()                     # .head()

<class 'pandas.core.frame.DataFrame'>

   acidez fija  acidez volatil  acido citrico  azucar residual calidad
0          7.4            0.70           0.00              1.9       M
1          7.8            0.88           0.00              2.6       B
2          7.8            0.76           0.04              2.3       M
3         11.2            0.28           0.56              1.9       P
4          7.4            0.70           0.00              1.9       M

In [3]:
vino_df.tail()

    acidez fija  acidez volatil  acido citrico  azucar residual calidad
14          8.9            0.62           0.18              3.8       B
15          8.9            0.62           0.19              3.9       M
16          8.5            0.28           0.56              1.8       B
17          8.1            0.56           0.28              1.7       M
18          7.4            0.59           0.08              4.4       P

In [4]:
# El método info() resume el contenido
vino_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   acidez fija      19 non-null     float64
 1   acidez volatil   19 non-null     float64
 2   acido citrico    19 non-null     float64
 3   azucar residual  19 non-null     float64
 4   calidad          19 non-null     object
dtypes: float64(4), object(1)
memory usage: 888.0+ bytes

In [6]:
# El método describe() brinda información estadística
#pd.set_option("display.max_rows",None)
vino_df.describe()

       acidez fija  acidez volatil  acido citrico  azucar residual
count    19.000000       19.000000      19.000000        19.000000
mean      7.836842        0.593947       0.161053         2.631579
std       1.097072        0.140994       0.189000         1.499279
min       5.600000        0.280000       0.000000         1.200000
25%       7.400000        0.570000       0.000000         1.750000
50%       7.800000        0.610000       0.080000         1.900000
75%       8.000000        0.655000       0.285000         3.200000
max      11.200000        0.880000       0.560000         6.100000

In [7]:
vino_df.shape     # filas, cols

(19, 5)

In [8]:
vino_df.ndim # Número de dimensiones; 2D

2

In [9]:
# El atributo columns devuelve los encabezamientos de las columnas. 
#  Notar que los indices de filas no se consideran datos
vino_df.columns

Index(['acidez fija', 'acidez volatil', 'acido citrico', 'azucar residual',
       'calidad'],
      dtype='object')

##### Explorar datos categóricos

In [10]:
niveles_calidad = vino_df['calidad']
niveles_calidad.unique()

array(['M', 'B', 'P'], dtype=object)

In [11]:
nivel_frecuencia = pd.crosstab(index=vino_df['calidad'], columns='frecuencia')
nivel_frecuencia

col_0    frecuencia
calidad
B                 5
M                10
P                 4