NaN, None

In [ ]:
import pandas as pd
import numpy as np         # Empleado para manejar np.nan

lst =[4, np.nan, 7, np.nan, 8, None, -9999]   
lst_ser = pd.Series(lst)
print(lst_ser)

In [ ]:
# Remplazar el -9999
lst_ser.replace(to_replace=-9999, value=np.nan, inplace=True)
lst_ser

In [ ]:
pd.isna(lst_ser)            # Funcion de pandas

In [ ]:
lst_ser.isna()              # Metodo de Series

In [ ]:
lst_ser.isnull()            # Metodo de Series

In [ ]:
lst_ser.notna()             # Metodo de Series

In [ ]:
# Remplazar NaN
import pandas as pd
import numpy as np 

lst =[4, np.nan, 7, np.nan, 8, None]   
lst_ser = pd.Series(lst)
lst_ser.replace(to_replace=np.nan,value=0, inplace=True)
lst_ser

El 14 de abril de 1912 el buque Titanic, llevando 1514 pasajeros, chocó contra un témpano y se hundió. Este ejemplo revisa datos sobre los pasajeros tomados del sitio http://rstudio-pubs-static.s3.amazonaws.com/252079_255293f47bb3477fa17d10b147db5891.html.

In [ ]:
# DataFrame completo
import pandas as pd

titanic_df = pd.read_csv('titanic.csv')
titanic_df.isna()       # Detecta celdas con None y NaN; las marca True

In [ ]:
# Eliminar registros con datos faltantes; uso de dropna()
# 0 index, 1 columnas
titanic_df.dropna()   # Devuelve df vacio

In [ ]:
# Aplicar isna() a una columna
serie_na = titanic_df['age'].isna()
titanic_df[serie_na]

In [ ]:
# Eliminar tres columnas que mas contribuyen con NaN
titanic_df.drop(columns=['cabin','boat','body'], axis=1,inplace= True)

In [ ]:
titanic_df.dropna()