#### Función enumerate()
Sintaxis: <br>
enumerate(iterable, start=0)

In [ ]:
# Mismo resultado con bucle for
lista1 = ["uno","dos","tres"]
lista2 = []
contador = 0
for item in lista1:
    lista2.append((contador, item))
    contador += 1
print(lista2)

In [ ]:
lista1 = ["uno","dos","tres"]
enum1 = enumerate(lista1)        
print(list(enum1))    # Devuelve una lista de tuplas
print(type(enum1))  # Tipo enumerate.

In [ ]:
# Ejemplo con una lista
equipos = ["River","Boca","Temperley", "Atletico"]
for i, equipo in enumerate(equipos, 1):
    print(i, equipo)

In [ ]:
# Ejemplo con una lista de tuplas con el equipo 
#  y año de campeón en el torneo Seis Naciones de rugby.
torneo = [(2020, 'Inglaterra'), (2019, 'Gales'), (2018, 'Irlanda'), (2017, 'Inglaterra')]

for i, (año, equipo) in enumerate(torneo):
    print(f"Orden: {i}, Campeon: {año}, Pais: {equipo}")